.notification-success {
  color: green;
  font-size: 1.2rem;
  border: 4px green solid;
  border-radius: 0.5rem;
  background-color: lightgray;
  padding: 0.5rem;
}

.notification-error {
  color: red;
  font-size: 1.2rem;
  border: 4px red solid;
  border-radius: 0.5rem;
  background-color: lightgray;
  padding: 0.5rem;
}
